<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{name}} by {{owner.login}}</title>
    <link rel="stylesheet" href="css/styles.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">

      <header>
        <hgroup>
          <div>
            <h1>{{name}}</h1>
            <h2>{{description}}</h2>
            <hr>
          </div>
        </hgroup>
      </header>

      <div class="downloads">
        <ul>
          <li><a href="https://github.com/{{owner.login}}/{{name}}/archive/master.zip">Download (ZIP)</a></li>
          <li><a href="https://github.com/{{owner.login}}/{{name}}/fork">Fork on GitHub</a></li>
          <li><a href="https://github.com/{{owner.login}}/{{name}}/">View on GitHub</a></li>
        </ul>
      </div>

      <div id="content">
        {{content}}
      </div>

      <hr>

      <footer>
        <!-- Your footer information can go here.
        <p>
          Ah, ma petit chou-fleur.
        </p>
        -->

        <p>
          <!-- Keeping this line would be very considerate, but is not required. -->
          <a href="https://github.com/house/tea">"Tea"</a> by <a href="http://twitter.com/house">Allison House</a>. Published with <a href="{{brief.url}}">brief</a>.
        </p>
      </footer>

    </div>
  </body>
</html>
